body{
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
  
}
*{
    padding: 0;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
#banner-section{
    background:linear-gradient(transparent, #00000085), url(image/donation1.jpg);
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 17%;
    text-align: center;
  
    color: white;
}
 
.banner-head{
    max-width: 80%;
}
.banner-head  h1{
    font-size: 40px;
    
}
.banner-head p{
    margin-top: 10px;
    word-spacing: 2px;
    line-height: 25px;
}
#btn{
   color:white;
   background: orangered; 
   padding: 10px 15px;
   margin-top: 10px;
   text-transform: capitalize;
   font-size: 18px;
   border-radius: 10px;
   border: none;
}
#btn:hover{
    background: rgb(100, 78, 38);
    
}
 
.donate-today-head{
     max-width: 50%;
     margin: auto;
     text-align: center;
}
.donate-today-head h2{
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 10px;
}
.donate-today-head p{
    margin-top: 10px;
    word-spacing: 2px;
    line-height: 25px;
}
.price-menu{
    display: flex;
     margin-left: 24%;
     margin-top: 10px;
   
    
  
  
}
.price-item{
    text-align: center;
    font-size: 25px;
    padding: 20px 10px;
    background: #ddd;
    max-width: 20%;
    color: rgb(114, 110, 110);
    margin: 10px;
}
#price-item-1{
    border: 2px solid tomato;
    color: tomato;
    background: rgb(80, 52, 47);
}

.input-item{
 text-align: center;
 margin-top: 20px;
 
}
.input-item p{
   color: rgb(145, 141, 141);
}
hr{
    margin-bottom: 20px;
    color: #ddd;
    width: 50%;
  margin: auto; 
}
.plan-card{
    display: flex;
    margin: auto;
}
.plan-card-singlebox{
    background: #EDF5F6;
    width: 350px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
 
}

.plan-card-img img{
    width: 19%;
    margin: 10px;
    padding: 10px;
 

}
.plan-card-title h3{
    margin: 10px ;
     
}
.plan-card-desc p{
    margin: 10px;
    word-spacing: 3px;
    line-height: 25px;
    margin-bottom: 50px;

}
#plan-box-bg{
    background: #FFEEEE;
}
#plan-box-bg-1{
    background: #FFF4D6;
}
#floods-section{
    display: flex;
    padding: 10%;
}
.floods-head{
    width: 50%;
}
.floods-head h3{
    font-size: 35px;
    margin-bottom: 10px;
    padding: 10px;

}
.floods-head p{
    margin: 10px;
    word-spacing: 3px;
    line-height: 25px;
}

.form{
    background:#FFF4D6 ;
    padding: 5%;
    margin:2% 20%;
    display: flex;
}
 
 
input{
    border: none;
    padding: 15px 10px;
    background: #777;
    border-radius: 5px;
    
}
#sub-input-bx{
     background: orangered;
     color: white;
     margin-left: -30%
}
span{
margin-left: -70% ;
}
footer{
    background: black;
    text-align: center;
    padding: 5%;
}
.humble-style{
    font-family: 'Lily Script One', cursive;
    color: rgb(255, 0, 0);
    font-size: 25px;
}
footer p{
    color:#999;
    font-size: 14px;
    margin-top: 15px;
}